body{
    margin: 0px;
}
/* login css */
.login-page-main-container{
  background-color: whitesmoke;
  min-height: 100vh;
  margin: 0px;
}
#login-container{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    transition: all 0.8s;
    background-color: rgba(0, 247, 255, 0.338);
  }
  #login-container:hover{
    background-color: rgba(255, 255, 255, 0.7);
  }
  #login-container h4{
    font-family: 'Allura', cursive;
    font-size: 20px;
    margin: 5px auto;
  }
    .card-content{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .signin{
      margin: 0px;
    }
    .signin:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    .showpassword{
      display: flex;
      margin-right: 0px auto;
      align-items: center;
    }
  
    .main-container{
      /* min-height: 100vh; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .animation-words {
      margin-left: 100px;
      font-size: 40px;
      color:#03001C;
      font-family: 'Graduate', cursive;
    }
    
    .animation-words h1 {
      opacity: 0;
      animation: fade-in 3s ease-out forwards;
    }
    
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    