.product-list-cart{
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.product-card-cart{
    display: flex;
    align-items: center;
    max-width: 700px;
    border: 2px solid black;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s;
}
.product-card-cart img{
    height: 150px;
    width: 200px;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: color-burn;
}
.empty-cart{
    margin-top: 20px;
    display: grid;
    justify-items: center;
}
.empty-cart img{
   height: 600px;
   object-fit: cover;
}
.sub-total{
    text-align: center;
    font-size: 24px;
    font-weight:bold;
}
.sub-total span{
    color: blue;
}
.cart-btn{
    display: flex;
    justify-content: space-around;
}